/Web/Direct4Me.Minimal.Api/obj
/Web/Direct4Me.Minimal.Api/bin
/Web/Direct4Me.Blazor/bin
/Web/Direct4Me.Blazor/obj
/Web/Direct4Me.Repository/obj
/Web/Direct4Me.Repository/bin
/Web/Direct4Me.UnitTests/obj
/Web/Direct4Me.UnitTests/bin
