body {
    background-color: #222;
    color: #f8f9fa;
}

.btn-primary {
    background-color: #1e88e5;
    border-color: #1e88e5;
}

.btn-primary:hover {
    background-color: #1976d2;
    border-color: #1976d2;
}
