@page "/facerecognition"

<div class="container-fluid bg-dark min-vh-100 pt-4">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="col-sm-10 col-md-8 col-lg-6">
            <h2 class="text-center mb-4">Sign in (Face Recognition)</h2>
            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @ErrorMessage
                </div>
            }
            <div class="p-5 rounded shadow">
                <div class="mb-3">
                    <video id="camera-stream" class="w-100 h-100 border"></video>
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-4" disabled="@IsLoading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: @(IsLoading ? "inline-block" : "none")"></span>
                    Take Picture
                </button>
            </div>
        </div>
    </div>
</div>