@page "/"

@inherits LayoutComponentBase

<div class="container my-5">
    <h1 class="display-4">Welcome to My App</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc accumsan sem ut ligula scelerisque, et semper magna varius. Maecenas mollis, augue et lobortis blandit, sapien justo pulvinar enim, eget molestie odio nunc a quam. Praesent ultrices nisl id risus efficitur, vel tincidunt enim ultrices. Nullam feugiat metus quis dolor bibendum, a tempor ex sodales. Vivamus ac ligula interdum, vulputate odio a, venenatis tellus. Donec suscipit lorem non est vulputate bibendum.</p>
</div>