@page "/map"
@inherits Direct4Me.Blazor.Components.MapBase

<div class="map-layout">
    <div class="sidebar">
        <button @onclick="CalculateOptimalRoute">Calculate Optimal Route</button>
    </div>
    <div id="map" class="map"></div>
</div>

<div id="map-spinner" class="spinner"></div>