@page "/map"
@inherits Direct4Me.Blazor.Components.MapBase
<div id="map"></div>

@* @if (IsPostman) *@
@* { *@
@*     <button @onclick="CalculateOptimalRoute">Calculate Optimal Route</button> *@
@* } *@