@page "/map"

<div id="map-spinner" class="spinner"></div>

<div class="map-layout">
    <div class="sidebar">
        <button @onclick="CalculateOptimalRouteFake" value="Fake">Calculate Optimal Route(Fake)</button>
        <button @onclick="CalculateOptimalRouteRealTime" value="Real">Calculate Optimal Route(Real Time)</button>
        <button @onclick="CalculateOptimalRouteRealDistance" value="Real">Calculate Optimal Route(Real Distance)</button>
        <button @onclick="CalculateOptimalRouteRealOptions" value="Real">Calculate Optimal Route(Real Options)</button>
        <button @onclick="JavaRunnerExample" value="Real">JAVA RUNNER (AI)</button>
    </div>
    <div id="map" class="map"></div>
</div>