@page "/postboxes"

<div class="container-fluid bg-dark min-vh-100 pt-4">
    <div class="row ms-3 me-3">
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @ErrorMessage
            </div>
        }
    </div>
    <div class="row ms-3 me-3">
        @if (PostboxEntities.Any())
        {
            foreach (var postbox in PostboxEntities)
            {
                <div class="col-md-4">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">Postbox @postbox.PostBoxId</div>
                        <div class="card-body">
                            <h5 class="card-title">Last unlock: @(postbox.StatisticsEntity.LastModified)</h5>
                            <p class="card-text">Unlock count: @postbox.StatisticsEntity.TotalUnlocks</p>
                            <a class="btn btn-success">NFC</a>
                            <a @onclick="() => CallApiOnClick(postbox.PostBoxId)" class="btn btn-warning">QR Code</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>