@inject IJSRuntime JsRuntime

<button type="button" class="btn btn-outline-light" @onclick="ToggleDarkMode">
    <i class="bi bi-moon-fill"></i>
    <span class="d-none d-sm-inline">Dark mode</span>
</button>

@code {
    private bool _isDarkMode;

    protected override async Task OnInitializedAsync()
    {
        _isDarkMode = await JsRuntime.InvokeAsync<bool>("getDarkMode");
    }

    private async Task ToggleDarkMode()
    {
        _isDarkMode = !_isDarkMode;
        await JsRuntime.InvokeVoidAsync("setDarkMode", _isDarkMode);
    }

}