@inject IJSRuntime JsRuntime

<button type="button" class="btn btn-outline-dark" @onclick="ToggleLightMode">
    <i class="bi bi-sun-fill"></i>
    <span class="d-none d-sm-inline">Light mode</span>
</button>

@code {
    private bool _isLightMode;

    protected override async Task OnInitializedAsync()
    {
        _isLightMode = await JsRuntime.InvokeAsync<bool>("getLightMode");
    }

    private async Task ToggleLightMode()
    {
        _isLightMode = !_isLightMode;
        await JsRuntime.InvokeVoidAsync("setLightMode", _isLightMode);
    }

}