@inherits LayoutComponentBase

@inject IJSRuntime JsRuntime

<div class="container-fluid bg-light">
    <div class="row">
        <NavigationMenu/>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <ThemeToggler IsDarkMode="@_isDarkMode" ToggleMode="@ToggleMode"/>
            <div class="container">
                @Body
            </div>
        </div>
    </div>
</div>

@code {
    private bool _isDarkMode;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await JsRuntime.InvokeAsync<bool>("getDarkMode");
            StateHasChanged();
        }

        await ToggleMode();
    }

    private async Task ToggleMode()
    {
        _isDarkMode = !_isDarkMode;
        await JsRuntime.InvokeVoidAsync("setDarkMode", _isDarkMode);
        StateHasChanged();
    }

}