<div class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <button class="btn btn-link" @onclick="ToggleMode">@ChildContent</button>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public bool IsDarkMode { get; set; }

    [Parameter]
    public Func<Task> ToggleMode { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string GetButtonClass() => IsDarkMode ? "btn-dark" : "btn-light";
}